.architect
app.*
app/
bootstrap.css
bootstrap.js
bootstrap.json
bootstrap.jsonp
build/
build.settings
build.xml
classic.json
classic.jsonp
ext/
index.html
modern.json
modern.jsonp
packages/
resources/sass/.sass-cache/
resources/.arch-internal-preview.css
sass/
workspace.json
.arch-internal-preview.css
.architect
.idea
.sencha
